<form action="">
  <label for="username">Username *</label>
  <input type="text" name="username" class="form-control" [(ngModel)]="inputUsername" (input)="onUpdateUsername($event)">
  <p>{{ inputUsername }}</p>
  <button class="btn btn-primary" [disabled]="!allowButton" (click)="onSubmit($event)" type="submit">Submit</button>
</form>